.blog-post {
    border: 1px solid #ccc;
    padding: 0 0 20px 0;
    margin: 0;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-light-color);
    background-color: var(--paper-color);

    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.blog-post:hover {
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.blog-post .img-container {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    padding-top: 125%; /* Aspect ratio of 1:1.25 (100% * 1.25) */
    position: relative;
}

.blog-post img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio without stretching */
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.blog-post img:hover{
    width: 100%;
    height: auto;
    border-radius: 4px; /* Optional: Rounded corners for images */
    transition: transform 0.3s ease-in-out;
    transform: scale(1.025); /* Slight zoom effect when hovered */
}
.blog-post header{
    padding: 0 20px;
}
.blog-post footer{
    padding: 0 20px;
}
.blog-post header h1 {
    font-size: 2rem;
    margin: 0 0 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.blog-post .img-container {
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blog-post .meta {
    font-size: 1rem;
    color: var(--text-light-muted-color);
}

.blog-post .content {
    margin: 20px 0;
    font-size: 1.1rem;
    padding: 0 20px;
}

.blog-post .cta {
    text-align: right;
}

.blog-post button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--background-color);
    font-weight: 600;
    font-style: italic;
    font-size: 1.02rem;
}

.blog-post button:hover {
    background-color: var(--secondary-hover-color);
}
/* Full-screen overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 11, 11, 0.86); /* Adjust opacity for better contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
    /* Frosted glass effect */
    backdrop-filter: blur(15px) brightness(1); /* Adjust brightness for a lighter effect */
    -webkit-backdrop-filter: blur(15px) brightness(1); /* Safari support */

    /* Animation for subtle entrance */
    opacity: 0; /* Start invisible */
    animation: overlayFadeIn 0.15s ease-out forwards; /* Fade in overlay */
}

/* Animation for the overlay fade-in */
@keyframes overlayFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.95); /* Start slightly scaled down */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Scale to normal size */
    }
}

/* Overlay content box */
.overlay-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.5); /* Subtle inner background for contrast */
    border-radius: 8px; /* Rounded corners for the content box */
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.452); /* Add subtle shadow for better contrast */
    border: 1px solid #71717136;

    /* Animation for the content's entrance */
    opacity: 0; /* Start invisible */
    transform: translateY(-20px); /* Start from above */
    animation: contentSlideIn 0.25s ease-out 0.2s forwards; /* Content slides and fades in */
}

/* Animation for the content box sliding and fading in */
@keyframes contentSlideIn {
    0% {
        opacity: 0;
        transform: translateY(40px); /* Start slightly above */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Slide to normal position */
    }
}
/* Image inside the overlay */
.overlay img {
    position: relative;
    width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-radius: 4px; /* Optional: Rounded corners for images */
}


