/* login-form.css */
:host {
    display: block;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: #333;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--paper-color)
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

input {
    font-size: 16px;
    padding: 8px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    position: relative;
}
button:hover {
    background-color: var(--primary-hover-color);
}

#togglePassword {
    width: auto;
}
#eyeIcon{
    width: auto;
    position: absolute;
    right: 10px;
    bottom: 0px;
    
}

#registerLink {
    font-size: 14px;
    color: var(--url-color);;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
}

#registerLink:hover {
    text-decoration: underline;
}
